@import '../variables';

.footer{
    margin: 30px;
    
    .container{
        justify-content: flex-end;
    }

    a{
        background-color: $black;
        border: none !important;
    }

    @media(max-width: 645px) {
        margin:0;
        position: relative;
        top: -100px;
}
}

svg{
    position: relative;
    top: 3px;
    left: 1px;
    width: 90%;

      @media(max-width: 645px) {
        width: 60%;
}
}