@import '../variables';

.nav {

  &-link{
    color: $black !important;
    margin: 0 20px;

    @media(max-width: 645px) {
      margin:0;
    }
}}

.header{
   margin: 40px 0;
}

.navbar{
  box-shadow: none !important;
  font-size: 9.66pt;
  font-family: $default-font-family;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 0.5px;

  @media(max-width: 645px) {
    font-size: 8pt;
    margin:0;
    max-height: 100px;
}
}

.btn{
   box-shadow: none !important;
    font-weight: bold;
  
}
