@import '../../scss/variables';

.modal{
    background-color: rgba(0, 11, 160, 0.281);
   
    &_header{
       height: 100px;
       background-color: $btncolor;
    }

     &_icon{
         position:relative;
         top:-20px;
         left: 40px;
         z-index: 130;
         width: fit-content;
            @media(max-width: 645px) {
               left: 150px;
         }
          @media(max-width: 450px) {
               left: 90px;
         }
     }

     &_row{
        width: 100%;
     }
    
      .btn-close{
        color: $btn-text;
       }
}

p{
    text-align: right;
}

.nav {
  &-link{
    color: $black !important;
    margin: 0 20px;

    @media(max-width: 645px) {
      margin:0;
    }
}}