$black: #060608;
$background: #FFFFFF;
$orange: #fe5f1e;
$content-color: rgb(0, 9, 40);
$btncolor:  rgb(35, 114, 213);
$btn-text: rgb(255, 255, 255);


$default-font-family: "Poppins", serif;

$h1_Fs_lg: 90px;
$h1_Fs_sm: 60px;
$p_fs_lg: 26px;
$p_fs_sm: 16px;
$btn_fs: 14px;


$nav_fs_lg: 9.66pt;
$nav_fs_sm: 8pt;