@import "~bootstrap/scss/bootstrap";
@import './components/all';
@import './variables';

body {
  background-image: url(../img/def-bcgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App{
  margin: 0;
  padding: 0;

  .row{
  width: 100vw;
}
}

.rightside{
  flex-direction: column;
}


#img{
  width:100%;
  z-index: 90;

    @media(max-width: 645px) {
      width:55%;
}
}

#logo{
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 40px;
  width: 150px;

   @media(max-width: 645px) {
    width:70px;
}
}

